/*Color
Fonts
Keyframe animations
Images*/

h1 {
    color: #c53535;
    font-size: 72px;
    margin: 10px;
    text-transform: uppercase;
}

.profile-picture {
    border-radius: 50%;
  }

div {
    color:rgb(119, 60, 33);
    animation-name: change;
    animation-duration: 8s;
    animation-iteration-count: 3;
}

@keyframes change {
    from {color: sienna;}
    to {color: aliceblue;}
}